// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
$main-Color : #5D3A58;
$secondary-Color : #708D81;
$background-Color : #feecf1;
$pink-Color : #F7DAD9;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: $background-Color;
    color: $main-Color;
}
